@using RentACar.Data.ViewModels
@model UserVM
@{
    ViewData["Title"] = "User Details";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>User Details</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">First Name</dt>
                <dd class="col-sm-9">@Model.Firstname</dd>

                <dt class="col-sm-3">Last Name</dt>
                <dd class="col-sm-9">@Model.Surname</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">@Model.Email</dd>

                <dt class="col-sm-3">Phone</dt>
                <dd class="col-sm-9">@Model.PhoneNumber</dd>

                <dt class="col-sm-3">NIN</dt>
                <dd class="col-sm-9">@Model.NIN</dd>

                <dt class="col-sm-3">Role</dt>
                <dd class="col-sm-9">@Model.Role</dd>
            </dl>
        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
